

<div class="container-fluid g-0">
    <mat-toolbar>
        <input type="search" class="example-icon">
      
        <span class="example-spacer"></span>
    

        <button mat-raised-button class="btn btn-primary">Make An Appoinment</button>
        <button mat-raised-button class="btn btn-primary">Add Patient</button>
        <button mat-raised-button  class="btn btn-primary" >
            <mat-icon>home</mat-icon>
          </button>
      </mat-toolbar>
      <div class="row">
        <div class="col-10">
        <h1 class="mt-2 mx-4">Billing Overview</h1>
        </div>
        <div class="col-2 mt-2">
           <h2 >February 2021</h2>
        </div>
      </div>
</div>
