<div class="container-fluid">
        <button mat-stroked-button color="primary" class="bg-info">
            <div class="data mx-2">
                <img src="assets/image/profile.jpg" alt="" class="m-2 ">
              <div class="mt-4">
                <p>Saurav Singh</p>
                <p>32, male</p>
                <p>Bill No:    012345678</p>
              </div>
            </div>
        </button>
        <button mat-stroked-button color="primary" class="my-2 bg-info">
            <div class="data mx-2 ">
                <img src="assets/image/profile.jpg" alt="" class="m-2">
              <div class="mt-4">
                <p>Saurav Singh</p>
                <p>32, male</p>
                <p>Bill No:    012345678</p>
              </div>
            </div>
        </button>
        <button mat-stroked-button color="primary" class="my-2 bg-info">
            <div class="data mx-2">
                <img src="assets/image/profile.jpg" alt="" class="m-2">
              <div class="mt-4">
                <p>Saurav Singh</p>
                <p>32, male</p>
                <p>Bill No:    012345678</p>
              </div>
            </div>
        </button>
        <button mat-stroked-button color="primary" class="my-2 bg-info">
            <div class="data mx-2">
                <img src="assets/image/profile.jpg" alt="" class="m-2">
              <div class="mt-4">
                <p>Saurav Singh</p>
                <p>32, male</p>
                <p>Bill No:    012345678</p>
              </div>
            </div>
        </button>
        <button mat-stroked-button color="primary" class="my-2 bg-info">
            <div class="data mx-2">
                <img src="assets/image/profile.jpg" alt="" class="m-2">
              <div class="mt-4">
                <p>Saurav Singh</p>
                <p>32, male</p>
                <p>Bill No:    012345678</p>
              </div>
            </div>
        </button>
</div>