<div class="container-fluid g-0 p-4">
<mat-card>
    <div class="row">
        <div class="col-10">
            <h1 class="m-2 mx-3">Billing details</h1>
        </div>
        <div class="col-2">
            <button class="btn btn-primary my-2">Print Bill</button>
        </div>

      <div class="col-12">
        <table class="table">
              <tr class="text-start mt-5">
                  <td>Patient Name</td>
                  <td></td>
                  <td>Age/Gender</td>
                  <td></td>
                  <td>Bill No</td>
                  <td></td>
                  <td>Date/Time</td>
                  <td>&nbsp;</td>
                  <td>Receipt No</td>
              </tr>
              <tr class="text-start">
                <td>Sourav Singh</td>
                <td>&nbsp;</td>
                <td>32/Male</td>
                <td>&nbsp;</td>
                <td>01239844</td>
                <td>&nbsp;</td>
                <td>02/02/2023, 06.22 Pm</td>
                <td>&nbsp;</td>
                <td>0123141125514</td>
            </tr>
            <tr>
                <th>Sr.no</th>
                <th></th>
                <th>Service Name</th>
                <th></th>
                <th>Price</th>
                <th></th>
                <th>Quantity</th>
                <th>&nbsp;</th>
                <th>Amount</th>
            </tr>
            <tr >
                <td>1</td>
                <td></td>
                <td>Consultation</td>
                <td></td>
                <td>500</td>
                <td></td>
                <td>1</td>
                <td>&nbsp;</td>
                <td>500</td>
            </tr>
            <tr>
                <td>2</td>
                <td></td>
                <td>XRay</td>
                <td></td>
                <td>1500</td>
                <td></td>
                <td>2</td>
                <td>&nbsp;</td>
                <td>3000</td>
            </tr><br><br><br><br><br><br><br><br><br><br><br><br><br>
            <tr>
                <td>Mobile Number</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>9327167743</td>
            </tr>
            <tr >
                <td>Tax</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>200</td>
            </tr>
            <tr>
                <td>Discount</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>50</td>
            </tr>
            <tr>
                <th>Total</th>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>932716455</td>
            </tr>
        </table>
      </div>

      <table>
      </table>
    </div>
</mat-card>
   
</div>