mat-card{
    background-color: blue;
    color: white;
    height: 99vh;
    align-items: center;
    padding: 50px;
}
button{
 line-height: 50px;
  font-size: 15px;
}
mat-icon{
    vertical-align: middle;
}
#one{
    bottom: 500px;
}
.row{
    background-color: rgb(237, 235, 235);
}